# === General ===
*.obj
*.o
*.lo
*.la
*.al
*.libs
*.so
*.so.*
*.a
*.lib
*.dll
*.out
*.app
*.pyc
*.pyo
*.pyd
*.class
*.log
*.tmp
*.swp
*.DS_Store
*.bak
*.~*

# === Visual Studio 2022 ===
.vscode/
.vs/
*.vcxproj*
*.sln
*.suo
*.user
*.userosscache
*.sdf
*.opensdf
*.cache
*.tlog/
*.ipch/
*.pdb
*.idb

# === GNU Make ===
Makefile
makefile
GNUmakefile
*.d

# === Xcode ===
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcworkspace
DerivedData/
build/
*.xcuserstate
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/*.pbxuser
*.xcodeproj/*.mode1v3
*.xcodeproj/*.mode2v3
*.xcodeproj/*.perspectivev3

# === CodeLite ===
*.tags
*.workspace
*.project
*.session
*.project.files
*.project.workspace
*.db
*.layout

# === Binary Folfers ===
**/Bin/
**/Bin-Int/